{% extends 'base.html' %}
{% block content %}
<h2>✏️ Редагувати транзакцію</h2>
<form method="POST" id="transactionform">
    {{ form.hidden_tag() }}
    <p>{{ form.amount.label }}<br>{{ form.amount(step=0.01) }}</p>
    <p>{{ form.type.label }}<br>{{ form.type() }}</p>
    <p>{{ form.category.label }}<br>{{ form.category() }}</p>
    <p>{{ form.date.label }}<br>{{ form.date() }}</p>
    <p>{{ form.description.label }}<br>{{ form.description(rows=2) }}</p>
    <p>{{ form.submit() }}</p>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const typeSelect = document.getElementById("type");
        const categoryField = document.getElementById("category").closest("p");
    
        function toggleCategory() {
            if (typeSelect.value === "income") {
                categoryField.style.display = "none";
            } else {
                categoryField.style.display = "block";
            }
        }
    
        typeSelect.addEventListener("change", toggleCategory);
        toggleCategory();
    });
    </script>
    
{% endblock %}
